
*{
    box-sizing: border-box;
}
.container{
    max-width: 1352px;
    margin: 0 auto;
}
/*header*/
.header{
    width: 100%;
    height: 100vh;
    /*position: fixed;*/
}
.top-bar{
    width: 100%;
    height: 70px;
    background-color: white;
    border-bottom: 1px solid #00000029;
    box-shadow: 0 3px 6px #00000029;
    z-index: 100;
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
}
.top-bar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-family: Raleway, sans-serif;
    font-size: 32px;
    font-weight: 200;
    color: #08a6e4;
    /*margin-top: 19px;*/
}
.menu {
    display: inline-flex;
    margin-top: 30px;
}

.menu-option{
    margin-right: 40px;
    font-family: Open Sans, sans-serif;
    text-decoration: none;
    color: #a5a5a5;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    display: block;
    padding-bottom: 28px;
}
.menu-option:hover{
    color: black;
    border-color: black;
    border-bottom: 4px solid #08a6e4;
}

.menu-main{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}
/*hero*/
.hero{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: calc(100vh - 70px);
    /*z-index: -19;*/
}
.hero-main{
    z-index: -1000000;
}
.hero .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.hero-header{
    font-family: Raleway,sans-serif;
    color: #000000;
    font-size: 49px;
    margin-bottom: 20px;
    padding-top: calc(200px - 70px);

}
.hero-paragraph{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #000000;

}
.hero-btn{
    font-family: Open Sans,sans-serif;
    color: #ffffff;
    background-color: #08a6e4;
    text-decoration: none;
    border-radius: 40px;
    box-shadow: 5px 10px 14px #07ace629;
    padding-top: 22px;
    padding-bottom: 23px;
    padding-left: 157px;
    padding-right: 157px;
    margin-top: 60px;
}
.hero-background{
    /*width: 100%;*/
    /*max-height: 50vh;*/
    /*margin-bottom: 0;*/
    /*display: flex;*/
    /*align-items: flex-end;*/
    /*justify-content: center;*/
 ;
    /*z-index: -100;*/
}
/*druga sekcja*/
.second-view{
    width: 100%;
    height: 530px;

}
.second-view h2{
    font-family: Raleway,sans-serif;
    font-size: 36px;
    text-align: center;
    margin-top: 100px;

}
.second-view-stats{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stats-picture{
    max-height: 64px;
}
.circle{
    width:63px;
    height: 63px;
    border-radius: 50%;
}
.circle1{
    background-color:#fb3b64;

}
.circle2{
    background-color: #08a6e4;
}
.circle3{
    background-color: #55dfb4;
}
.stats-pct{}
.stats-pct1{
    position: absolute;
    top:3px;
    left:30px;
}
.stats-pct2{
    position: absolute;
    top:10px;
    left:30px;
    margin-right: 0;

}
.stats-pct3{
    position: absolute;
    top:4px;
    left:30px;
}
.stats-box{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.stats-wholebox{
    max-width: 176px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box1{
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}
.box2{}
.box3{}
.stats-numbers{
    font-family: Raleway, sans-serif;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 6px;

}
.stats-description{
    font-family: Raleway,sans-serif;
    font-weight: normal;
    color: #a5a5a5;
    text-align: center;
    font-size: 17px;
    margin-top: 19px;

}
.circlebox1{
    position: relative;
}
.circlebox2{
    position: relative;
    margin-right: 0;

}
.circlebox3{
    position: relative;
}
/*benefity*/
.benefits{
    width: 100%;
    background-color: #f7f7f7;
    padding-top: 100px;
    padding-bottom: 100px;
}
.benefits .container{}
.benefit-box{
    height: 370px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #e8e9ed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 36px;
    margin-bottom: 37px;

}
.benefit-box h3{
    font-family: Raleway,sans-serif;
    font-size: 36px;
    color: #000000;
    margin-bottom: 36px;
}
.benefit-box p{
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 50px;
}
.benefit-box-info{
    max-width: 420px;
    margin-top: 90px;
    margin-bottom: 90px;
}
.benefit-box-picture{
    position: relative;
    /*padding-bottom: 68px;*/
}
.b-box1{}
.b-box-info1{
    margin-right: 200px;
    margin-left: 70px;
}
.b-box-pic1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 100px;
    position: relative;
    padding-bottom: 73px;
}
.b-box-pic2{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    padding-left: 70px;

}
.b-box-pic3{
    display: flex;
    justify-content: flex-start;
    align-items:center;
}
.shape{}
.shape1{
    background-color: #fb3b64;
    width: 180px;
    height: 180px;
    border-radius: 41px;
    transform: matrix(0.71,0.71,-0.71,0.71,0,0);
    position: relative;
}
.shape-pic1 {
    max-width: 400px;
    position: absolute;
    top:50px;
    right:100px;
}
.shape2{
    width: 320px;
    height: 320px;
    background-color: #07ace6;
    border-radius: 50%;
    position: relative;
}
.shape3{
    width: 540px;
    height: 370px;
    background-color: #55dfb4;


}
.shape-pic2{
    max-width: 430px;
    position: absolute;
}
.shape-pic3{
    max-width: 300px;
    position: absolute;

}
.b-box3{
    width: 620px;

}
.b-box-info2{
    margin-left: 200px;
    margin-right: 70px;
}
.line{
    width: 320px;
    display: block;

}
.line1{
    border: 2px solid #fb3b64;
    background-color: #fb3b64;

}
.line2{
    border: 2px solid #07ace6;
    background-color: #07ace6;
}
.line3{
    border: 2px solid #55dfb4;
    background-color: #55dfb4;
}

.special-box{
    width: 725px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #e8e9ed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding-left: 36px;*/
    /*margin-bottom: 37px;*/
    padding-left: 70px;
    padding-right: 70px;
    height: 370px;
}

.space-special-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.special-box h3{
    font-family: Raleway,sans-serif;
    font-size: 36px;
    margin-bottom: 36px;

}.special-box p {
     font-family: Open Sans, sans-serif;
     font-size: 16px;
    margin-bottom: 44px;

 }
 /*plans*/
.pricing{
    padding-top: 100px;
}
.pricing h3{
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 36px;
    padding-bottom: 50px;

}
.pricing p{
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;

}
.plans{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 100px;

}
.plan{
    border-radius: 18px;
    padding-top: 34px;
    padding-right: 100px;
    padding-left: 100px;
    text-align: center;
    position: relative;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;



}
.plan1{
    border: 1px solid #fb3b64;
}
.plan2{
    border: 1px solid #07ace6;
}
.plan3{
    border: 1px solid #55dfb4;
}
.pp1{
    color: #fb3b64;
}
.pp2{
    color: #07ace6;
}
.pp3{
    color: #55dfb4;
}
.plan-name{
    font-family: Raleway,sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #13253B;
    padding-top: 30px;
    padding-bottom: 30px;
}
.plan-price{
    font-family: Open Sans, sans-serif;
    font-weight: 200;
    font-size: 46px;
    padding-bottom: 10px;

}
.limited-offer{
    font-family: Raleway, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #13253B;
}
.checkbox-ok{
    width: 11px;
    height: 11px;
    background-image: url(../assets/Ckechmark-1.svg);
    display: inline-flex;
    justify-content: center;
    align-self: center;

}
.checkbox-no{
    width: 11px;
    height: 11px;
    background-image: url(../assets/Close.svg);
    display: inline-flex;
}

.plan:hover{
    transform: scale(1.2);
}
.plan1:hover{
    box-shadow: 5px 10px 27px rgba(251,59,100,0.3);
}
.plan2:hover{
    box-shadow: 5px 10px 27px rgba(7,172,230,0.3);
}
.plan3:hover{
    box-shadow: 5px 10px 27px rgba(85,223,180,0.3);
}
.plan-btn{
    font-family: Open Sans, sans-serif;
    border-radius: 23px;
    font-size: 13px;
    color: white;
    text-decoration: none;
    padding: 15px 50px;
    position: absolute;
    top:430px;
    left: 97px;
    margin-top:0;


}
.btn1{
    background-color: #eb476e;
}
.btn2{
    background-color: #07ace6;
}
.btn3{
    background-color: #55dfb4;
}
.support{
    /*margin-bottom: 70px;*/
}
.memory{
    /*padding-top: 60px;*/
}
.plan-line {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.all-features{
    display: flex;
    flex-direction: column;
    padding-bottom: 55px;
    padding-top: 20px;

}

/*form*/
.form{
    width: 900px;
}
.form-contact-data{}
.question{
    font-family: Raleway, sans-serif;
    font-size: 49px;

}
.question-info{
    font-family: Open Sans, sans-serif;
    font-size: 16px;
}
.details{
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    color: #a5a5a5;
}
.email-icon{
    height: 27px;
    width: 27px;
    background-image: url(../assets/Mail-Icon.svg);
}
.phone-details{}
.phone-icon{
    height: 27px;
    width: 27px;
    background-image: url(../assets/Phone-Icon.svg);
}
.contact-form{}
.label{
    font-family: Open Sans, sans-serif;
    font-size: 11px;
    font-weight: 700;
    color: #08a6e4;
    text-transform: uppercase;
    letter-spacing: 3.28px;

}
.input{
    border-bottom: 2px solid #707070;
    border-right: white;

}
.checkbox-form{}
.privacy-info{
    font-family: Open Sans, sans-serif;
    font-size: 12px;
    color: #707070;
}
.checkbox-checkbox{}
.form-btn


